<div class="container">
    <div class="footer">
        <div class="footer__text">Тестовое задание на вакансию верстальщика в компанию <span>Fleeks</span></div>
        <div class="social">
            <div class="social footer__social">
                <a href="#" class="social-icon footer__social--facebook"></a>
                <a href="#" class="social-icon footer__social--google"></a>
                <a href="#" class="social-icon footer__social--instagram"></a>
            </div>
        </div>
    </div>
</div>