<header class="header">
    <div class="container">
        <img class="header__logo" src="images/testtour-logo.svg" alt="SunTour">
        <div class="header__description">Сеть турагенств<br>«Солнце в кругу»</div>
        <a class="header__phone" href="tel:+380441234567">044 123-45-67</a>
        <a class="phone-text" href="tel:+380441234567">обратный звонок</a>
        <div class="social header__social">
            <a href="#" class="social-icon header__social--facebook"></a>
            <a href="#" class="social-icon header__social--google"></a>
            <a href="#" class="social-icon header__social--instagram"></a>
        </div>
    </div>
</header>