<div class="container">
    <section class="hotel">
        <h2 class="is-hidden">Тур в Созополь, Болгария </h2>
        <div class="hotel__header">
            <div class="circle">
                <div class="circle__header">
                    Тур <br>в Созополь,<br> Болгария <br>
                </div>
                <div class="circle__code-text">
                    КОД ТУРА
                </div>
                <div class="circle__code">
                    3094119
                </div>
            </div>
        </div>
        <div class="hotel__footer">
            <div class="hotel-about">
                <div class="hotel-about__header">
                    <div class="hotel-about__name">Aquamarine hotel</div>
                    <div class="hotel-about__info">
                        <div class="hotel-about__rating">
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                        <div class="hotel-about__price">$256</div>
                    </div>

                </div>
                <div class="hotel-about__footer">
                    <div class="hotel-about__general-rating">
                        <div class="hotel-about__general-rating-text">
                            Оценка отеля<br><span>45 отзывов</span>
                        </div>
                        <div class="hotel-about__general-rating-number">8.4</div>
                    </div>
                    <div class="hotel-about__specific-rating">
                        <div class="hotel-about__specific-rating-item">
                            <span>НОМЕР</span><br>8.9
                        </div>
                        <div class="hotel-about__specific-rating-item">
                            <span>ПИТАНИЕ</span><br>8.1
                        </div>
                        <div class="hotel-about__specific-rating-item">
                            <span>СЕРВИС</span><br>7.9
                        </div>
                        <div class="hotel-about__specific-rating-item">
                            <span>ИНФРАСТРУКТУРА</span><br>8.9
                        </div>
                    </div>
                </div>
            </div>
            <div class="sunny">
                <div class="sunny__number">
                    320
                </div>
                <div class="sunny__text">
                    солнечных<br>дней в году
                </div>
            </div>
        </div>
    </section>
</div>