<div class="container">
    <section class="offers">
        <h2 class="is-hidden">Шелковый путь</h2>
        <article class="article silk">
            <h3 class="is-hidden">Шелковый путь</h3>
            <img src="images/silk-way.jpg" alt="Шелковый путь" class="article__photo silk__photo">
            <div class="article__info">
                <div class="article__text">
                    <div class="article__text-header">Шелковый путь</div>
                    <div class="article__text-footer">Экстремальный маршрут</div>
                </div>
                <div class="article__price">$987</div>
            </div>
        </article>
        <article class="article banji">
            <h3 class="is-hidden">Роупджампинг</h3>
            <img src="images/banji.jpg" alt="Роупджампинг" class="article__photo banji__photo">
            <div class="article__info">
                <div class="article__text">
                    <div class="article__text-header">Не дай Бог не любишь</div>
                    <div class="article__text-footer">Роупджампинг</div>
                </div>
                <div class="article__price">$59<br><span>$90</span></div>
            </div>
        </article>
    </section>
</div>