.header {
  background-color: #1ABDF0;
  color: white;
}

.header .container {
  min-height: 104px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 1050px) {
    justify-content: space-between;
    padding: 0 10px;
  }
  @media (max-width: 443px) {
    flex-direction: column;
    padding: 10px 10px;
  }
}

.header__logo, .header__phone, .phone-text, .header__social--facebook, .header__social--google, .header__social--instagram {
  display: block;
}

.header__logo {
  width: 178px;
  height: 43px;
}

.header__description {
  text-align: center;
  margin-left: 10px;
  padding-top: 15px;
  @media (max-width: 1050px) {
    display: none;
  }
}

.header__phone {
  font-size: 1.875rem;
  margin-left: 185px;
  @media (max-width: 1050px) {
    margin-left: 50px;
  }
  @media (max-width: 443px) {
    margin-left: 0;
  }
}

.phone-text {
  margin-left: 34px;
  border-bottom: 1px dotted;
  @media (max-width: 1050px) {
    display: none;
  }
}

.social {
  width: 115px;
  display: flex;
  justify-content: space-between;
  margin-left: 67px;
  @media (max-width: 630px) {
    display: none;
  }
}

.social-icon {
  display: block;
  width: 31px;
  height: 31px;
  vert-align: middle;
}

.header__social--facebook {
  @include sprite($header-facebook-logo);
}

.header__social--google {
  @include sprite($header-google-plus-social-logotype);
}

.header__social--instagram {
  @include sprite($header-instagram-social-network-logo-of-photo-camera);
}


