.table-wraper {
  overflow-x: auto;
}

.table {
  width: 750px;
  font-size: 12px;
}

thead {
  background-color: #EAEAEA;
}

thead tr {
  border-bottom: 1px solid #777;
  text-align: left;
}

tr {
  border-bottom: 1px solid #ebebeb;
}

th, td {
  padding-top: 4px;
  padding-bottom: 4px;
}

td:first-child {
  font-weight: 700;
  padding-left: 20px;
}

