@font-face {
  font-family: 'Arial';
  src: url('../fonts/arial.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url('../fonts/arialbd.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Trebuchet MS';
  src: url('../fonts/trebuc.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Trebuchet MS';
  src: url('../fonts/trebucbd.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Minion Pro';
  src: url('../fonts/Minion Pro Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/Myriad Pro Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
